# This is an example playbook to execute Ansible tests.
---
- name: Cleanup
  hosts: all
  gather_facts: false
  tasks:
    - name: "Include {{ role_name }}"
      ansible.builtin.include_role:
        name: "{{ role_name }}"
        tasks_from: absent
